.matched {
  width: 100%;
  overflow-y: hidden;
  padding-bottom: 15px;
  height: fit-content;
  border-radius: 5px;
  .matched-title {
    padding: 15px;
    font-size: 20px;
    background-color: rgba(55, 184, 214, 0.8);
  }
  .matched-list {
    overflow-y: scroll;
    height: 100%;
    .matched-element {
      padding: 15px;
      display: flex;
      &:hover {
        cursor: pointer;
      }
      .element-cover {
        width: 40px;
        height: 40px;
      }

      .element-name {
        margin: auto 10px;
      }
    }
  }
}
