<div class="sidebar">
    <div class="sidebar__header__logo">
        <div class="sidebar__logo">
            <img class="logo__picture" src="assets/logo_img.png" alt="logo.svg">
        </div>
    </div>
    <div class="sidebar__sidebar-navigation unauthorized__sidebar__height_sm ">
        <div class="sidebar-navigation__sidebar-navigation-block sidebar-navigation-block">
            <div class="sidebar__icon__wrapper">
                <div class="fa-brands fa-itunes-note sidebar-navigation-block__sidebar-navigation-icon"></div>
                <div class="sidebar-navigation-block__sidebar-navigation-icon sidebar-navigation-icon"></div>
            </div>
            <p class="sidebar-navigation-block__sidebar-navigation-text sidebar-navigation-text text">Listening in the
                world</p>
        </div>
    </div>
    {{mount playlist}}
</div>
