<div class="main__popular">
    <div class="main__popular__albums main__popular_slider-hidden">
        <div class="text main__popular__title">
            Popular albums
        </div>
        {{mount albums}}
    </div>
    <div class="main__popular__artists main__popular_slider-hidden">
        <div class="text main__popular__title">
            Popular artist
        </div>
        {{mount artists}}
    </div>
</div>
