.main__popular {
    padding-top: 70px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}

.main__popular .carousel-row {
}

.main__popular_slider {

}

.main__popular_slider-hidden {
    overflow: hidden;
}

.main__popular__albums {
    padding-top: 30px;
    height: 250px;
}

.main__popular__artists {
    padding-top: 30px;
    height: 200px;
}

.main__popular > .text {

}

.main__popular__title {
    font-size: 24px;
}
