
.navbar__avatar__img_round{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    object-fit: cover;
}
.navbar__avatar__wrapper{
    padding: 30px;
}
.navbar__avatar {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar__avatar:hover .popup{
    display: flex;
}

.popup{
    width: 180px;
    height: 80px;
    background-color: #080D21;
    position: absolute;
    top: 80px;
    right: 50px;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
}

.popup a {
    text-decoration: none;
}

.popup__text{
    color: #DBD9D9;
    font-size: 14px;
    padding-left: 20px;
}

.popup__text:hover{
    color: #37B8D6;
    cursor: pointer;
}
