@import "../../colors.css";


.navbar__menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar__menu__button{
    text-align: center;
    margin: auto 0;
}

.navbar__menu__button{
    font-size: 13px;
}

.button__text {
    color: var(--btn-inactive);
}

.navbar__menu__button:hover .button__text{
    color: var(--btn-hover);
    border-bottom: solid 2px;
    padding-bottom: 3px;
    border-image-slice: 1;
    border-image-source: var(--linear-gradient-blue-white);
}

.navbar__menu__button__tooltip{
    margin: 5px auto;
    height: 2px;
    max-height: 2px;
}

