.player__waves {
  margin-left: 20px;
  margin-right: 10px;
  width: 32px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;

  .bar {
    background-color: #beb7df;
    width: 2px;
    border-radius: 2px;
    transition: height 0.2s ease-in;
  }
}