.artist-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;

  .artist-page__main {
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: 50%;
    background-position-y: 50%;
    display: flex;
    flex-direction: column;
    height: 40%;

    .artist-page__artist {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding-left: 50px;
      justify-content: space-between;

      .artist__related {
        display: flex;

        .related__title {
          color: #37b8d6;
        }

        .related__names {
          padding-left: 20px;
        }
      }

      .artist__main {
        font-size: 25px;

        .artist__name {
          margin-bottom: 25px;
          margin-top: 4px;
          font-size: 84px;
        }
      }
    }

    .artist__controls {
      display: flex;
      margin-bottom: 20px;

      * {
        margin: auto 0px;
      }

      .controls__btn-play {
        display: flex;
        background-color: #37b8d6;
        width: 150px;
        height: 40px;
        border-radius: 21px;

        .text {
          margin: auto;
        }
      }

      .controls__likes {
        padding-left: 20px;
        display: flex;

        .likes__num {
          padding-left: 10px;
        }
        .likes__icon{
          &:hover{
            cursor: pointer;
          }
        }
      }
    }
  }

  .artist__title {
    font-size: 26px;
  }

  .artist-page__popular {
    padding-left: 40px;
    margin-top: 20px;
    flex-grow: 1;
  }

  .artist-page__albums {
    padding-left: 40px;
    height: 250px;
    margin-bottom: 100px;
    .carousel-row {
      height: 250px;
    }
  }
}
