$hoverColor: #37b8d6;

.track-block {
  overflow: hidden;
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: auto;
  margin-left: 10px;
  height: 50px;
  .track-block__number {
    color: #6d7184;
    letter-spacing: 0.055em;
    float: left;
    width: 1.5em;
    text-align: center;
  }

  .track-block__icon {
    float: left;
    width: 50px;
    height: 100%;
    border-radius: 4px;
    margin-left: 20px;
    object-fit: cover;
    margin-top: auto;
  }

  .track-block__track-info {
    float: left;
    margin-left: 14px;

    .track-info__title {
      color: #ffffff;
      line-height: 18px;
      letter-spacing: 0.02em;
      margin-top: 4px;
      margin-bottom: 0;
    }
    .track-info__artist {
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 0.05em;
      margin-top: 5px;
      margin-bottom: 0;
      color: rgba(255, 255, 255, 0.5);
    }
  }

  &:hover {
    cursor: pointer;
    .track-block__number {
      color: $hoverColor;
    }
    .track-info__title {
      color: $hoverColor;
    }
  }
}

.track-block_current {
  background: #37b8d6;
  border-radius: 10px;
  width: 90%;
  margin-left: 5px;
  .track-block__number {
    margin-left: 5px;
  }
  &:hover {
    cursor: pointer;
    .track-block__number {
      color: #0b1220;
    }
    .track-info__title {
      color: #0b1220;
    }
  }
}
