$hoverColor: #37b8d6;

.track-block {
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: auto;
  margin-left: 10px;
  height: 50px;
  width: 100%;
  display: flex;

  .track-block__number {
    color: #6d7184;
    letter-spacing: 0.055em;
    float: left;
    width: 1.5em;
    margin-top: auto;
  }

  .track-block__icon {
    float: left;
    width: 50px;
    height: 100%;
    border-radius: 4px;
    padding-left: 20px;
    object-fit: cover;
    margin-top: auto;
  }

  .track-block__track-info {
    padding-left: 14px;
    height: 100%;
    width: 100%;
    min-width: 0;
    .track-info__title {
      color: #ffffff;
      letter-spacing: 0.02em;
      width: 100%;
      margin-top: 0px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 90%;
    }

    .track-info__artist {
      font-size: 13px;
      letter-spacing: 0.05em;
      color: rgba(255, 255, 255, 0.5);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 95%;
    }
  }

  @media (max-width: 330px) {
    .track-info__title {
      font-size: 13px;
    }
    .track-info__artist {
      font-size: 12px;
    }
    .track-block__track-info{
    }
    .track-block__icon{
      padding-left: 10px;
    }
  }
  &:hover {
    cursor: pointer;

    .track-block__number {
      color: $hoverColor;
    }

    .track-info__title {
      color: $hoverColor;
    }
  }
}

.track-block_current {
  background: #37b8d6;
  border-radius: 10px;
  width: calc(100% - 5px);
  margin-left: 5px;

  .track-block__number {
    margin-left: 5px;
  }

  &:hover {
    cursor: pointer;

    .track-block__number {
      color: #0b1220;
    }

    .track-info__title {
      color: #0b1220;
    }
  }
}
