.album {
  padding-right: 20px;
  height: 140px;
  width: 150px;
  .album__title {
    font-size: 18px;
  }
  .album__image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
  }
  .album__artist {
    font-size: 13px;
    opacity: 50%;
    padding-top: 3px;
  }

  &:hover {
    cursor: pointer;
  }
}
