@import "../library.blocks/text/text.css";
@import "../library.blocks/logo/logo.css";
@import "../library.blocks/album/album.css";
@import "../library.blocks/artist/artist.css";
@import "../library.blocks/carousel-row/carousel-row.css";
@import "../common.blocks/navbar/navbar.css";
@import "../common.blocks/sidebar/sidebar.css";
@import '../common.blocks/sidebar/_collapsed/sidebar_collapsed.css';
@import "__top-chart/main__top-chart.css";
@import "__popular/main__popular.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css";
@import "../common.blocks/sidebar/__sidebar-navigation/sidebar__sidebar-navigation.css";

h1 {
    color: aqua;
}

.main__page{
    width: calc(100% - 350px);
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    flex-grow: 1;
    background-image: url("../img.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 50%;
}

body{
    background: #0B1220;
}
