.waveCreatePlaylist {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  gap: 30px;
  background-color: var(--waveui--color--background);
  border-radius: 16px;

  max-height: 80vh;
  overflow: visible;
  position: relative;

  max-width: 350px;
  @media all and (max-width: 580px) {
    max-width: 60vw;
  }

  &__controls {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;

    @media all and (max-width: 580px) {
      flex-direction: column-reverse;
      justify-content: initial;
    }
  }


  &__playlist-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    height: fit-content;
  }
}
