.volume-progressbar {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  color: #beb7df;
  margin-right: 1.5em;
  .volume__icon {
    font-size: 1.2em;
    width: 1.2em;
    &:hover {
      cursor: pointer;
    }
  }
}