.login-page {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background: url('../../assets/auth.png') no-repeat 50%;
  background-size: cover;
  object-fit: cover;
  font-family: sans-serif;

  .login-form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 60vh;
    padding-bottom: 50px;
  }

  .logo {
    background: url('../../assets/logo.png') no-repeat;
    width: 273px;
    height: 30%;
  }

  .login-form_align {
    width: inherit;
    height: 20%;
  }

  .input-label {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
  }

  .input-line {
    box-sizing: border-box;
    height: 40px;
    background: #222730;
    border-radius: 3px;
    border: none;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    padding-left: 10px;
    width: 100%;
  }

  .button {
    border-radius: 50px;
    border: none;
    cursor: pointer;
    height: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    align-items: center;
    text-align: center;
  }

  .button_gray {
    background: #222730;
    color: white;
  }

  .button_blue {
    background: #37b8d6;
    color: white;
  }

  .login-form__button {
    width: 100%;
  }

  .login-form__logo {
    margin: 0 auto;
    padding-bottom: 60px;
  }

  .login-form__input-label {
    text-align: left;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }

  & .tooltip_danger {
    color: #ff6464;
    overflow-wrap: break-word;
  }

  .invisible {
    visibility: hidden;
  }

  .login-from__tooltip_danger {
    color: #ff6464;
    overflow-wrap: break-word;
  }

  .login-from__common-tooltip_danger {
    color: #ff6464;
    overflow-wrap: break-word;
    text-align: center;
  }

  .login-form__input-line {
    width: 100%;
  }

  .menu-footer {
    clear: both;
    display: block;
  }

  .menu-footer__line {
    border: 1px solid #444444;
    width: 100%;
  }

  .menu-footer__text {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
  }

  .menu-footer__button {
    display: flex;
  }

  .menu-footer__button span {
    margin: auto;
  }

  .input__wrong {
    border: solid 1.5px #ff6464;
  }

  .register-form__button {
    height: 40px;
    margin-left: auto;
    width: 100%;
  }

  .register-form__input-line {
    width: 100%;
  }
}
