<div class="login-page">
    <form class="login-form">
        <div class="logo login-form__logo"></div>
        <div class="login-form_align">
            <label for="username" class="input-label login-form__input-label">Username:</label>
            <input type="text" placeholder="Username" class="input-line register-form__input-line" id="username">
        </div>

        <div class="login-form_align">
            <label for="email" class="input-label login-form__input-label">Email:</label>
            <input type="email" placeholder="Email" class="input-line register-form__input-line" id="email">
        </div>

        <div class="login-form_align">
            <label for="password" class="input-label login-form__input-label">Password:</label>
            <input type="password" placeholder="Password" class="input-line register-form__input-line" id="password">
        </div>

        <div class="login-form_align">
            <label for="confirmPassword" class="input-label login-form__input-label">Confirm password:</label>
            <input type="password" placeholder="Confirm Password" class="input-line register-form__input-line"
                   id="confirmPassword">
        </div>

        <div class="login-form_align">
            <input type="submit" value="Register" class="button button_blue register-form__button">
        </div>
        <div class=" menu-footer login-form_align">
            <div class="menu-footer__line"></div>
            <p class="menu-footer__text">Do you have an account?</p>
            <a  class="button button_gray menu-footer__button" href="/login" ><span>Log in</span></a>
        </div>
    </form>

</div>
