.notification {
  position: absolute;
  right: 10px;
  bottom: 100px;
  width: fit-content;
  height: fit-content;
  z-index: 999;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: solid 1px #222730;
  &:hover {
    cursor: pointer;
  }
  .notification__text{
    padding: 20px 20px;
    margin: auto;
  }
}

.error {
  background-color: #ff6464;
}

.success {
  background-color: #06123b;
}
