.artist-track {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  width: 100%;
  margin: 10px auto;
  &:hover {
    background-color: #5D4099;
    border-radius: 10px;
  }

  .artist-track__info {
    display: flex;
    align-items: center;

    .artist-track__cover {
      padding-left: 16px;
    }

    .artist-track__name {
      padding-left: 12px;
    }
  }

  .artist-track__meta {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-end;

    .artist-track__listened {
      font-size: 13px;
      margin-right: 25%;
      display: flex;

      .listened__dot {
        height: 4px;
        width: 4px;
        background-color: #FFFFFF;
        border-radius: 50%;
        margin: auto auto auto 5px;
      }
    }

    .liked-icon {
      width: 20px;
      height: 20px;
      margin-right: 20px;
    }

    .artist-track__duration {
      font-size: 13px;
    }
  }
}