<div class="main__page">
    <div class="navbar main__top-chart__header">
        <div class="navbar__menu">
            <div class="navbar__menu__button">
                <div class="text button__text ">DISCOVER</div>
            </div>
            <div class="navbar__menu__button">
                <div class="text button__text">MY LIBRARY</div>
            </div>
            <div class="navbar__menu__button">
                <div class="text button__text">RADIO</div>
            </div>
        </div>
        <div class="navbar__search">
            <input class="search__input" type="text" placeholder="Search artists, albums...">
            <span class="fa-solid fa-magnifying-glass navbar__search__icon"></span>
        </div>
        <div class="navbar__auth__menu navbar__menu ">

            <div class="navbar__menu__button">
                <a class="navbar__link-new-page" href="/login"> <div class="text button__text">LOG IN</div></a>
            </div>
            <div class="navbar__menu__button">
                <a class="navbar__link-new-page" href="/signup"> <div class="text button__text">SIGN UP</div></a>
            </div>
        </div>
    </div>
    <div class="main__top-chart__album">
        <div class="main__top-chart__album__name">
            <div class="text main__top-chart__album__name">
                Flume: Skin
            </div>
            <div class="text main__top-chart__album__quote">
                Flume walks us through his ‘weird’ new album, ‘Skin’.
                He has one goal: “I wanna make weird stuff.”
            </div>
        </div>
        <div class="main__top-chart__album__controls">
            <div class="button main__top-chart__album__btn_play">
                <div class="text">Play</div>
            </div>
            <div class="button main__top-chart__album__btn_follow">
                <div class="text">Follow</div>
            </div>
        </div>
    </div>
    {{mount popular}}
</div>
