@import '__header/sidebar__header.css';

.sidebar{
    width: 330px;
    position: relative;
    top: 0;
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;

}

.sidebar__header{
    height: 80px;
}
