@import "__avatar/navbar__avatar.css";
@import "__search/navbar__search.css";
@import "__menu/navbar__menu.css";


.navbar {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 20%, rgba(1, 208, 234, 0.5) 100%);
}

.navbar__menu{
    width: 400px;
}

.navbar__search{
    flex-grow: 1;
    min-width: 25%;

}
