.sidebar__sidebar-navigation {
    margin-top: 24px;
    margin-left: 22px;
    height: 118px;
}

.sidebar-navigation-block {
    height: 26px;
    display: flex;
    font-size: 15px;
}

.sidebar-navigation__space {
    height: 28px;
}

.sidebar__icon__wrapper {
    width: 10px;
    height: 10px;
    margin: auto 0;
}

.sidebar-navigation-icon {
    width: 8px;
    height: 8px;
    border: 1px solid #6D7184;
    border-radius: 50%;
    margin: auto;
}

.sidebar-navigation-text {
    line-height: 18px;
    letter-spacing: 0.055em;
    color: #6D7184;
}

.sidebar-navigation-block__sidebar-navigation-text {
    margin: auto 12px;
}


.sidebar-navigation-block__sidebar-navigation-icon.fa-itunes-note {
    display: none;
}

.sidebar-navigation-block:hover {
    cursor: pointer;
}


.sidebar-navigation-block:hover .sidebar-navigation-text {
    color: #37B8D6;
}

.sidebar-navigation-block:hover .fa-itunes-note {
    display: block;
    color: #37B8D6;

}

.sidebar-navigation-block:hover .sidebar-navigation-icon {
    display: none;
}


.sidebar__my-playlist {
    margin-top: 64px;
    margin-left: 26px;
    list-style-type: none;
    overflow-y: scroll;
    padding-right: 100px;
    width: 300px;
    height: 600px;

}

.my-playlist__playlist-track-block {
    height: 62px;
    padding-left: 0;
}

.my-playlist__playlist-track-block:hover {
    cursor: pointer;
}

.my-playlist__playlist-track-block:hover .playlist-track-block__number {
    color: #37B8D6;
}

.my-playlist__playlist-track-block:hover .track-info__title {
    color: #37B8D6;
}

.playlist-track-block__number {
    color: #6D7184;
    letter-spacing: 0.055em;
    float: left;
}

.playlist-track-block__icon {
    float: left;
    width: 47px;
    height: 47px;
    border-radius: 4px;
    margin-left: 25px;
}


.playlist-track-block__track-info {
    float: left;
    margin-left: 14px;
}

.track-info__title {
    color: #FFFFFF;
    line-height: 18px;
    letter-spacing: 0.02em;
    margin-top: 4px;
    margin-bottom: 0;
}

.track-info__artist {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.05em;
    margin-top: 5px;
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.5);
}

.playlist-track-block__space {
    height: 34px;
}
