<div class="login-page">
    <form class="login-form">
        <a class="main__button" href="/">
            <div class="logo login-form__logo"></div>
        </a>
        <div class="login-form_align">
            <label for="username" class="input-label login-form__input-label">Username:</label>
            <input type="text" placeholder="Username" class="input-line login-form__input-line" id="username">
            <label id="login__username-label_danger" class="input-label login-form__input-label login-from__tooltip_danger invisible">Username have to contain at least 3 charecters (digits, letters or &#171;_&#187;)</label>
        </div>

        <div class="login-form_align">

            <label for="password" class="input-label login-form__input-label">Password:</label>
            <input type="password" placeholder="Password" class="input-line login-form__input-line" id="password">
            <label id="login__password-label_danger" class="input-label login-form__input-label login-from__tooltip_danger invisible">Password have to contain at least 6 charecters (digits and letters)</label>
        </div>

        <div class="login-form_align">
            <input type="submit" value="Log in" class="button button_blue login-form__button">
            <label id="login__submit-label_danger" class="input-label login-form__input-label login-from__tooltip_danger invisible"><Hui></Hui></label>
        </div>

        <div class="menu-footer login-form_align">
            <div class="menu-footer__line">
            </div>
            <p class="menu-footer__text">Don't have an account?</p>
            <a class="button button_gray menu-footer__button" href="/signup"><span>Sign up</span></a>
        </div>
    </form>

</div>

