<div class="login-page">
    <form action="#" class="login-form">
        <div class="logo login-form__logo"></div>
        <div class="login-form_align">
            <label for="username" class="input-label login-form__input-label">Username:</label>
            <input type="text" placeholder="Username" class="input-line login-form__input-line" id="username">
        </div>

        <div class="login-form_align">

            <label for="password" class="input-label login-form__input-label">Password:</label>
            <input type="password" placeholder="Password" class="input-line login-form__input-line" id="password">
        </div>

        <div class="login-form_align">
            <input type="submit" value="Log in" class="button button_blue login-form__button">
        </div>

        <div class="menu-footer login-form_align">
            <div class="menu-footer__line">
            </div>
            <p class="menu-footer__text">Don't have an account?</p>
            <a class="button button_gray menu-footer__button" href="/signup"><span>Sign up</span></a>
        </div>
    </form>

</div>

