<li class="my-playlist__playlist-track-block">
    <p class="playlist-track-block__number text">{{number}}</p>
    <img class="playlist-track-block__icon" src="{{cover}}"/>
    <div class="playlist-track-block__track-info">
        <p class="track-info__title text">{{title}}</p>
        <p class="track-info__artist text">{{artist}}</p>
    </div>
</li>
