.personal-page {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;

  .settings-form__title {
    font-size: 40px;
    margin-left: 50px;
  }
  .settings-form__form {
    width: 80%;
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    .input-line {
      width: 40%;
      background: #222730;
      height: 30px;
      box-sizing: border-box;
      border: 0px;
      border-radius: 4px;
      color: #ffffff;
      margin-top: 20px;
      text-indent: 10px;
    }
    input[type='file'] {
      display: none;
    }
    .form__upload {
      margin-top: 20px;
      background-color: #5d4099;
      width: 150px;
      height: 200px;
      border-radius: 10px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-size: cover;
      &:hover {
        cursor: pointer;
      }
    }
    .form__submit-button {
      margin-top: 20px;
      background-color: #37b8d6;
      width: 40%;
      height: 30px;
      border: solid 0px;
      border-radius: 10px;
      text-align: center;
      display: flex;
      justify-content: center;
      &:hover {
        cursor: pointer;
      }
    }
    .input__wrong {
      border: solid 1.5px #FF6464;
    }
  }
  .invisible {
    display: none;
  }
  .from__tooltip_danger {
    padding-top: 10px;
    color: #FF6464;
    overflow-wrap: break-word;
  }

}
