.artist {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
    padding-right: 20px;
}

.artist__image {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

.artist__name {
    padding-top: 5px;
    font-size: 13px;
    margin: auto;
}
