<div class="sidebar">
    <div class="sidebar__header__logo">
        <div class="logo">
            <img class="logo__picture" src="assets/logo-white300x400.png" alt="logo.svg">
            <div class="text logo__name">Wave Music</div>
        </div>
    </div>
    <div class="sidebar__sidebar-navigation">
        <div class="sidebar-navigation__sidebar-navigation-block sidebar-navigation-block">
            <div class="sidebar-navigation-block__sidebar-navigation-icon sidebar-navigation-icon"></div>
            <p class="sidebar-navigation-block__sidebar-navigation-text sidebar-navigation-text text">My
                Playlist</p>
        </div>
        <div class="sidebar-navigation__space"></div>
        <div class="sidebar-navigation__sidebar-navigation-block sidebar-navigation-block">
            <div class="sidebar-navigation-block__sidebar-navigation-icon sidebar-navigation-icon"></div>
            <p class="sidebar-navigation-block__sidebar-navigation-text sidebar-navigation-text text">Last
                Listening</p>
        </div>
        <div class="sidebar-navigation__space"></div>
        <div class="sidebar-navigation__sidebar-navigation-block sidebar-navigation-block">
            <div class="sidebar-navigation-block__sidebar-navigation-icon sidebar-navigation-icon"></div>
            <p class="sidebar-navigation-block__sidebar-navigation-text sidebar-navigation-text text">
                Recommended</p>
        </div>
    </div>
    {{mount playlist}}
</div>
