.page {
  height: 100%;
  width: 100%;
}

.content{
  position: absolute;
  width: calc(100% - 330px);
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  height: 100%;
}

h1 {
  color: aqua;
}

body {
  background: #0B1220;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
html{
  height: 100%;
  width: 100%;
}

