.main__popular {
  flex-grow: 1;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
  margin-left: 40px;
  padding-top: 100px;



  .main__popular_slider-hidden {
    overflow: hidden;
  }

  .main__popular__albums {
    height: 300px;
  }

  .main__popular__artists {
    padding-top: 100px;
    height: 200px;
  }

  .main__popular > .text {
  }

  .main__popular__title {
    font-size: 24px;
  }
}
