.player-progressbar{
  padding: 0px 1em;
  margin-left: 0.5em;
  flex-grow: 1;
  display: inline-flex;
  align-items: center;
  .player__progressbar__time{
    padding: 0px 0.8em;
    color: var(--waveui--color--inactive);
    font-size: 13px;
    min-width: 38px;
  }
}