.auth-form input {
    display: flex;
    padding-top: 20px;
    vertical-align: center;
    margin: auto auto;
    border-radius: 20px;
    text-align: center;
}

.auth-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-form {
    width: 200px;
    height: 400px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    background: black;
    opacity: 75%;
}
