.player {
  grid-area: play;
  background-color: #17132c;
  height: 85px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;

  & > * {
    height: 100%;
    align-items: center;
  }

  .player__waves {
    margin-left: 20px;
    margin-right: 10px;
    width: 32px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .bar {
      background-color: #beb7df;
      width: 2px;
      transition: height 0.2s ease;
    }
  }

  .player__track {
    width: 250px;
    display: inline-flex;
    cursor: default;
    .track__picture {
      height: 50px;
      width: 50px;
      border-radius: 5px;
      object-fit: cover;
    }

    .track__name {
      padding-left: 15px;

      * {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 150px;
      }

      .track__name__title {
      }

      .track__name__author {
        font-size: 12px;
        color: #6d7184;
      }
    }
  }

  .player__control {
    width: 130px;
    display: inline-flex;
    justify-content: space-between;

    & > * {
      color: #beb7df;
      cursor: pointer;
    }

    .control__prev {
      font-size: 25px;
    }

    .control__play_pause {
      font-size: 35px;
    }

    .control__next {
      font-size: 25px;
    }
  }

  .player__progressbar {
    flex-grow: 1;
    display: inline-flex;
    align-self: center;
    margin-left: 20px;
    margin-right: 15px;

    .progressbar__wrapper {
      height: 20px;
      flex-grow: 1;
      display: flex;

      .progressbar {
        background-color: #5d4099;
        flex-grow: 1;
        height: 2px;
        margin: auto;

        & > * {
          height: 100%;
        }

        .progressbar__prefetched {
          background-color: #6d7184;
        }

        .progressbar__state {
          display: flex;
          margin-top: -2px;
          margin-right: -11px;
          position: relative;

          .progressbar__state__line {
            background-color: #beb7df;
          }
          .progressbar__state__marker {
              height: 30px;
              width: 4%;
              margin-top: -15px;
              margin-left: -2%;
              display: flex;
              position: absolute;
            transition: height 1ms ease;
            .marker__img {
              height: 22px;
              width: 22px;
              position: relative;
              margin: auto;
              object-fit: cover;
              background-repeat: no-repeat;
              background-size: cover;
            }
          }
        }
      }

      &:hover {
        cursor: pointer;
      }
    }

    .player__progressbar__time {
      margin-left: 20px;
    }
  }

  .player__shuffle {
    width: 60px;
    align-items: center;
    justify-content: center;
    display: flex;

    * {
      color: #beb7df;
      font-size: 20px;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .player__volume {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 10%;
    color: #beb7df;

    .volume__icon {
      height: 20px;
      width: 20px;

      &:hover {
        cursor: pointer;
      }
    }

    .volume__wrapper {
      width: 60%;
      display: flex;
      height: 20px;

      .volume__input {
        height: 2px;
        width: 100%;
        background-color: #5d4099;
        margin: auto;
        display: flex;
        position: relative;

        .volume__input__state {
          background-color: #beb7df;
          height: inherit;
          max-width: 100%;
        }

        .volume__state__marker {
          width: 20px;
          height: 20px;
          margin-left: -10px;
          margin-top: -10px;
          position: absolute;
          transition: height 1ms ease;
        }
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
