.profile-menu {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 10px;

  &__menu-label {
    padding: 8px;
  }

  &:hover {
    .profile-menu__popup{
      visibility: visible;
    }

    &__avatarShadow {
      background-color: var(--waveui-color_background--hover--invert);
    }
  }
  &:active {
    &__avatarShadow {
      background-color: var(--waveui-color_background--pressed--invert);
    }
  }

  &__avatar-wrapper {
    padding: 30px;
  }

  &__avatar_img-round {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    background-size: cover;
    user-select: none;
    pointer-events: none;

    &__wrapper {
      position: relative;
      width: 50px;
      height: 50px;
      cursor: pointer;

      &__avatarShadow {
        background-color: #00000000;
        transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        border-radius: 50%;
      }

      &:hover &__avatarShadow {
        background-color: var(--waveui-color_background--hover--invert);
        box-shadow: 0 0 0 5px var(--waveui-color_background--hover--invert);
      }
      &:active &__avatarShadow {
        background-color: var(--waveui-color_background--pressed--invert);
        box-shadow: 0 0 0 5px var(--waveui-color_background--pressed--invert);
      }
    }
  }


  &__popup {
    width: 180px;
    height: 80px;
    background-color: #06123b;
    border-radius: 10px;
    position: absolute;
    top: 80px;
    right: 50px;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: space-evenly;

  }

  &__popup__text {
    color: #dbd9d9;
    font-size: 14px;
    margin: auto;
    width: 80%;

    &:hover {
      color: #37b8d6;
      cursor: pointer;
    }
  }

  &__popup__settings {
    border-bottom: solid 2px #5d4099;
    padding-bottom: 10px;
  }

}
