.sidebar__header__logo {
    justify-content: center;
    margin: 0 auto;
}

.sidebar__header__title {
    display: flex;
    width: 100px;
    margin: 0 auto;
    justify-content: center;
}

.sidebar__header__title_text-size-md {
    font-size: 30px;
}
