.sidebar {
  grid-area: side;
  display: flex;
  flex-direction: column;
  height: 100%;
  .sidebar__header {
    height: 100px;
    flex-direction: column;
    position: relative;
    .header__logo {
      height: 88%;
      display: flex;
      .logo__picture {
        height: 100%;
        margin-bottom: 0px;
        width: 100%;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.sidebar_mobile {
  position: absolute;
  background-color: #0b1220;
  z-index: 98;
  transition: margin-left 0.5s ease;
  width: 60%;
}

.sidebar_open{
  margin-left: 0%;
}
.sidebar_closed{
  margin-left: -60%;
}
