.menu__button {
  margin: auto 0;
  font-size: 13px;
  color: var(--btn-inactive);

  &:hover {
    cursor: pointer;
    color: var(--btn-hover);

  }
  &::after {
    content: '';
    display: block;
    margin-top: 5px;
    width: 0;
    height: 2px;
    background: var(--linear-gradient-blue-white);
    transition: width 0.5s;
  }
  &:hover::after {
    color: var(--btn-hover);
    width: 100%;
  }
}