body {
  background: #0b1220;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 0px;
  margin-left: 0px;
}

html {
  height: 100%;
  width: 100%;
}

*::-webkit-scrollbar {
  width: 0.2rem;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: #beb7df;
  border-radius: 3px;
}

.text {
  font-family: 'Montserrat';
  font-size: 15px;
  color: white;
}

#root {
  height: 100%;
  width: 100%;
}


